<template>
	<div class="about">
		<div id="phaser-container"></div>
	</div>
</template>

<script>
	/* eslint-disable */
	import Phaser from 'phaser'
	export default{
		data(){
			return {
				name:'home'
			}
		},
		mounted(){
			this.start()
		},
		methods:{
			start(){
				let config = {
					type: Phaser.AUTO,
					scale: {
						mode: Phaser.Scale.RESIZE,
						parent: 'phaser-container',
						width: '100%',
						height: '100%',
					},
					physics: {
						default: 'arcade',
						arcade: {
								gravity: { y: 0 }
						},
					},
					scene: {
						preload: preload,
						create: create,
						update: update,
					}
				}

				let game = new Phaser.Game(config)
				let playerCircle, cursors, graphics_bg
				let circles = []

				function preload ()
				{

				}

				function create ()
				{
					cursors = this.input.keyboard.createCursorKeys()
					this.cameras.main.setBackgroundColor(0x888888)


					graphics_bg = this.add.graphics({ fillStyle: { color: 0x00ff00 } })
					let graphics = this.add.graphics({ fillStyle: { color: 0xff0000 }, add:false })
					let circle = new Phaser.Geom.Circle(10,10,10)
					graphics.fillCircleShape(circle)
					graphics.generateTexture('custom_sprite',20,20)
					graphics.clear()

					playerCircle = this.physics.add.image(10,10,'custom_sprite')
					playerCircle.setCollideWorldBounds(true)
					this.cameras.main.startFollow(playerCircle, true, 0.5, 0.5)
					this.scale.on('resize', resize, this)

					
					let rows = 20
					let columns = 20
					for(let x = 0; x < columns; x++)
					{
							for(let y = 0; y < rows; y++)
							{
									let size = Phaser.Math.Between(1, 5) * 10
									circles.push(new Phaser.Geom.Circle(50 + x * 100, 50 + y * 100, size))
							}
					}
					let boxSize = rows * 100
					this.cameras.main.setBounds(0, 0, boxSize, boxSize)
					this.physics.world.setBounds(0, 0, boxSize, boxSize)
					redraw()

				}

				function redraw ()
				{
						graphics_bg.clear()

						for(var i = 0; i < circles.length; i++)
						{
								graphics_bg.fillCircleShape(circles[i])
						}

				}
				
				function resize (gameSize, baseSize, displaySize, resolution)
				{
					let width = gameSize.width
					let height = gameSize.height
					console.log(width,height)

					this.cameras.resize(width, height)
					redraw()
				}

				function update()
				{
					let player = playerCircle

					player.setVelocity(0)

					if (cursors.left.isDown)
					{
							player.setVelocityX(-500)
					}
					else if (cursors.right.isDown)
					{
							player.setVelocityX(500)
					}

					if (cursors.up.isDown)
					{
							player.setVelocityY(-500)
					}
					else if (cursors.down.isDown)
					{
							player.setVelocityY(500)
					}
				}

			},
		},
		watch:{

		},
		computed:{

		},
		filters:{

		},
		props:{

		},
	}

</script>
<style lang=scss>
	.about{
		position: relative;
    width: 100vw;
    height: 100vh;
	}
</style>
