<template>
  <div id="app">
    <router-view></router-view>
  </div>
</template>

<script lang="ts">
  import Vue from 'vue'
  export default class App extends Vue {}
</script>

<style lang="scss">
body{
  margin: 0;
  padding:0;
}
html,body{
  overflow: hidden; 
}
#app {
  width:100vw;
  height:100vh;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
</style>
